:root {
  --width-l: 80rem;
  --width-m: 58rem;
  --width-s: 30rem;

  --grid-gap-x: 2rem;
  --grid-gap-y: 2rem;

  --container-width: var(--width-l);
  --container-edge: 3rem;
  --container-padding: 6rem;

  --color-ink: #1b203e;
  --color-cornstarch: #f7f4e9;
  --color-white: #fff;
  --color-charcoal: #1d1d2c;
  --color-blue: #3d7ac3;
  --color-teal: #3dbdc3;
  --color-yellow: #ffcf44;
  --color-orange: #fe9d0b;

  --transition-time: 220ms;

  --font-system: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-body: 'Open Sans', sans-serif;
  --font-heading: 'Poppins', sans-serif;
  --font-condensed: 'Encode Sans Condensed', sans-serif;
}

html {
  height: 100%;
}

body {
  color: var(--color-ink);
  background-color: var(--color-white);
  font-family: var(--font-body);
  font-weight: 400;
  margin: 0;
  min-height: 100%;
  line-height: 1.625;
  accent-color: var(--color-teal);
}

strong {
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: var(--font-heading);
  font-weight: 800;
  font-size: 6rem;
  color: var(--color-blue);
  text-transform: uppercase;
  line-height: 0.875;
  margin: 5rem 0 3rem;
}

h1 span {
  color: var(--color-teal);
}

p {
  font-size: 0.875rem;
}

p:last-child {
  margin-bottom: 0;
}

textarea {
  resize: vertical;
}

.container {
  padding: var(--container-padding) max(var(--container-edge), calc(50% - var(--container-width)/2));
}

.site-navigation {
  --container-padding: 1rem;
  background-color: var(--color-white);
  color: var(--color-white);
  position: relative;
}

.contact-toggle-group {
  position: absolute;
  right: var(--container-edge);
  top: var(--container-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: margin-bottom var(--transition-time);
}

.contact-toggle:hover {
  margin-bottom: 0.25rem;
}

.contact-panel {
  background-color: var(--color-charcoal);
  color: var(--color-cornstarch);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  transition: transform var(--transition-time);
  transform: translateX(-100%);
  padding: 0 2rem 2rem;
  box-sizing: border-box;
}

.contact-panel.is-open {
  transform: translateX(0);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input {
  margin-bottom: 1rem
}

.intro {
  background: url(/connect.svg) var(--color-cornstarch) no-repeat right bottom;
}

.intro p {
  max-width: 66ch;
  margin-left: 5rem;
}

.site-footer {
  --container-padding: 2rem;
  position: sticky;
  top: 100%;
  background-color: var(--color-charcoal);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.site-footer p {
  font-family: var(--font-condensed);
  color: var(--color-yellow);
  margin: 0 0 0.25rem;
}

.site-footer p span {
  color: var(--color-orange);
}

.site-footer div {
  font-size: 0.6875rem;
  color: var(--color-cornstarch);
}